body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --primary-light-color: #ffffff;
  --accent: #2196f3;
  --background-button-color: #eeeeee;
  --accent-darc-color: #000000;
  --background-secondary-color: #f5f4fa;
  --mail-and-tel-color: rgba(255, 255, 255, 0.6);
  --background-dark-color: #2f303a;
  --background-primary-color: var(--primary-light-color);
  --border-color: #ececec;
}

/* ---------------header--------------- */

.header {
}
.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
}
.logo-akcent {
  color: var(--accent-darc-color);
}
.site-nav {
}
.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent);
}
.current {
  color: var(--accent);
}
.auth-nav {
}
.header-mail {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.header-tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent);
}

/* ---------------шапка--------------- */

.hero {
  background-color: var(--background-dark-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-light-color);
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-light-color);
  background-color: var(--accent);
  cursor: pointer;
}

/* ---------------переваги--------------- */

.advantages {
  background-color: var(--background-primary-color);
}
.advantages-title {
}
.advantages-list {
}
.advantages-item {
}
.advantages-subtitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-color);
}
.advantages-description {
  line-height: 1.71;
  color: var(--secondary-color);
}

/* ---------------чим займаємося--------------- */

.features {
  background-color: var(--background-primary-color);
}
.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.features-list {
}
.features-item {
}
.features-link {
}

/* ---------------Наша команда--------------- */

.team {
  background-color: var(--background-secondary-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-color);
}
.team-list {
}
.team-item {
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-color);
}
.team-description {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}

/* ---------------портфоліо--------------- */

.button-list {
}
.button-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  background-color: var(--background-button-color);
}
.button-item:hover,
.button-item:focus {
  color: var(--primary-light-color);
  background-color: var(--accent);
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-link {
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
}

/* ---------------footer--------------- */

.footer {
  background-color: var(--background-dark-color);
}
.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent);
}
.footer-logo-akcent {
  color: var(--primary-light-color);
}
.address {
  font-style: normal;
}
.footer-list {
}
.footer-address {
  line-height: 1.71;
  color: var(--primary-light-color);
}
.footer-mail {
  line-height: 1.71;
  color: var(--mail-and-tel-color);
}
.footer-tel {
  line-height: 1.71;
  color: var(--mail-and-tel-color);
}
.footer-address:hover,
.footer-address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent);
}
